extends layout

prepend title
  | Portfolio |&nbsp;

mixin item(name, what, tech, url, image, className)
  div(class=['span4', 'jw-portfolio-item', 'jw-portfolio-#{className}'])
    section
      .well
        h1= name
        .jw-portfolio-logo
          a(href=url)
            img(src='/images/portfolio/#{image}', alt='#{name} logo')
        .jw-portfolio-description.collapse(id='#jw-portfolio-#{className}-description')
          .jw-portfolio-description-inner
            dl.row-fluid
              dt.span4 What is it?
              dd.span8= what
              dt.span4 Technologies
              dd.span8 Developed using #{tech}
              dt.span4 URL
              dd.span8
                a(href=url)= url
        a.jw-portfolio-toggle.hidden-desktop(href='#jw-portfolio-#{className}-description')
          span.icon-align-justify

block content
  article
    h1 Portfolio

    p Here's a small selection of projects I have worked on during my career.

    .row
      mixin item('Amaysim', 'SIM only, low cost mobile provider', 'Ruby on Rails, Apache, jQuery, Magnolia (Java)', 'http://www.amaysim.com.au', 'amaysim.png', 'amaysim')
      mixin item('TrustedReviews', 'A site devoted to reviewing technology', 'Symfony (PHP), MySQL, Apache, YUI, Pluck', 'http://www.trustedreviews.com', 'tr.png', 'tr')
      mixin item('Khadi Papers', 'Handmade paper for artists.', 'Actinic (PHP e-commerce), Apache', 'http://www.khadipapers.com', 'khadi.jpg', 'khadi')
    .row
      mixin item('Zimmer Stewart Gallery', 'A contemporary art gallery in Arundel.', 'PHP, Smarty, MySQL, Apache.', 'http://www.zimmerstewart.co.uk', 'zs.gif', 'zs')
      mixin item('Partimi', 'An independant fashion label based in London.', 'PHP, MySQL, Apache, jQuery', 'http://www.partimi.com', 'partimi.png', 'partimi')
      mixin item('Graeme Hunt', 'A business selling classic cars.', 'PHP, SQLite, Apache, YUI.', 'http://www.graemehunt.com', 'gh.png', 'gh')
    .row
      mixin item('I.S. Polson', 'A business restoring and selling Roesch designed Talbots.', 'PHP, SQLite, Apache, YUI.', 'http://www.ispolson.com', 'ispolson.png', 'ispolson')
      mixin item('The Air Gallery', 'An art gallery in Mayfair', 'PHP, SQLite, Apache, YUI.', 'http://www.airgallery.co.uk', 'ag.png', 'ag')
      mixin item('Tangmere Military Aviation Museum', 'An historic aircraft museum', 'PHP, Smarty, MySQL, Apache', 'http://www.tangmere-museum.org.uk', 'tangmere.jpg', 'tangmere')
    .row
      mixin item('Rancho del Ingles', 'A hotel in rural Spain', 'PHP, Apache', 'http://www.ranchodelingles.com', 'rdi.jpg', 'rdi')
      mixin item('Tipping Point', 'TippingPoint is a network-based organisation aiming to be a year round \'connection\' of the arts and climate science worlds.', 'PHP, WordPress, MySQL, jQuery', 'http://www.tippingpoint.org.uk', 'tippingpoint.jpg', 'tp')

append scripts
  script
    (function($){

      $('.jw-portfolio-item').each(function(){
        var $this  = $(this),
            desc   = $this.find('.jw-portfolio-description'),
            btn    = $this.find('.jw-portfolio-toggle');

        btn.click(function(){
          var $this = $(this);
          $this.button('toggle');
          if($this.is('.active')){
            desc.collapse('show');
          }
          else{
            desc.collapse('hide');
          }
        });

        $this.hover(
          function(){
            if(!desc.is('.in')){
              desc
                .stop(true, true)
                .collapse('show');
            }
          },
          function(){
            if(!btn.is('.active') && desc.is('.in')){
              desc
                .stop(true, true)
                .collapse('hide');
            }
          }
        );
      });
    }(jQuery));

